

.popup-window {
    width:75%;
    padding:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(217deg, rgba(255,200,255,0.25), rgba(255,255,255,0), rgba(200,255,255,0.5));
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow:rgba(255,255,255,0.25) 0 0 100px;
}

.main {
    width:100vw;
    height:100vh;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family:'Lexend Deca';
}

.main .popup-window {
    animation: start 0.5s ease-in-out;
}

@keyframes start {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

h3 {
    font-weight: 400;
    letter-spacing: 1px;
}

input {
    color:white;
    font-family:'Lexend Deca';
    font-weight:300;
    padding:10px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 10px;
}

form {
    margin-bottom: 30px;
}

.button {
    padding:10px 20px 10px 20px;
    background:linear-gradient(white,white);
    background-repeat: no-repeat;
    background-size: 0 auto;
    border: 1px solid white;
    border-radius:10px;
    text-decoration: none;
    font-family: 'Lexend Deca';
    color:white;
    font-weight:700;
    transition: background-size 0.2s ease-in-out, color 0.2s ease-in-out;
    cursor: pointer;
}

.button:hover {
    background-size: 100% auto;
    color: black;
}